body {
  padding: 10%;
  color: #f9f9f9;
  background-color: #202124;
  font-family: "Sono", sans-serif;
}

body > section {
  border-radius: 10px;
  background-color: #212121;
}

/*-----------------------------------*/
/* HEADER SECTION */
/*------------------------------------*/
section > header {
  padding: 20px;
  background: #1a1a1a;
  border-radius: 10px 10px 0 0;
}

section > header > h1 {
  color: #fe5371;
  text-align: center;
  text-transform: uppercase;
}

section > header > h1 > span {
  color: #f9f9f9;
}

section > header > h2 {
  color: #999;
  text-align: center;
}

/*-----------------------------------*/
/* INTRO SECTION */
/*------------------------------------*/
section > p {
  padding: 20px;
}

/*-----------------------------------*/
/* ARTICLE SECTION */
/*------------------------------------*/
section > article {
  margin: 50px 20px;
}

section > article > .articleCard {
  display: flex;
  height: 250px;
  align-items: center;
  margin-bottom: 20px;
}

section > article > .articleCard > img {
  width: 250px;
  height: inherit;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}

section > article > .articleCard > .articleDetails {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: space-evenly;
}

section > article > .articleCard > .articleDetails > b {
  font-size: 20px;
}

section > article > .articleCard > .articleDetails > span {
  font-size: 17px;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

section > article > .articleCard > .articleDetails button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 10px;
}

/*-----------------------------------*/
/* FOOTER SECTION */
/*------------------------------------*/
section > footer {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
  background: #1a1a1a;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

footer > .profile {
  display: flex;
  flex-wrap: wrap;
}

footer > .profile > img {
  width: 100px;
  margin-right: 10px;
  border-radius: 10px;
}

footer .profile > .profileDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer .profile > .profileDetails > a {
  text-decoration: none;
}

footer .profile > .profileDetails > a > b {
  color: #fe5371;
}

footer > .socialMediaLink {
  margin: 10px;
}

footer > .socialMediaLink > a {
  color: #fe5371;
  text-decoration: none;
}

footer > .socialMediaLink > .socialIcons {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

footer > .socialMediaLink > .socialIcons > a {
  color: #999;
  text-decoration: none;
}

footer > .socialMediaLink > .socialIcons > a > i {
  font-size: 25px;
}
